
.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 3px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(218, 23%, 16%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  text-justify: auto;
  background-color: hsl(217, 19%, 24%);
  padding: 3rem;
  padding-inline: 2.5rem;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: hsl(193, 38%, 86%);
}

main p {
  font-weight: 800;
  width: 450px;
  text-align: center;
  font-size: 28px;
}

#dice {
  background-color: hsl(150, 100%, 66%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -70px;
  transition: all ease-in-out 0.3s;
  border: none;
}

#dice:hover {
  box-shadow: 0 0 2em hsla(150, 100%, 66%, 0.678);
  cursor: pointer;
  transform: scaleX(2px);
}

h2 {
  font-size: 12px;
  color: hsl(150, 100%, 66%);
  letter-spacing: 5px;
}

h1 {
  color: hsl(150, 100%, 66%);
  margin-bottom: 3rem;
}

.divider {
  width: 400px;
  margin-bottom: 1rem;
}

.dice-img {
    transition: transform 1s ease-in-out;
}

.dice-img:hover {
    transform: rotate(900deg);
}

@media (max-width: 450px) {
  main {
    max-width: 300px;
  }

  main p {
    font-size: 20px;
    width: 250px;
  }

  .divider {
    width: 250px;
  }

  h1 {
    font-size: 24px;
  }

}